@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #d9c1ff;
  font-family: 'Open Sans', sans-serif;
}

.form {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 4;
}

.form__text {
  display: flex;
margin: 10px 10px;  
justify-content: end;
}

.header {
  grid-column-start: 2;
  grid-row-start: 3;
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
}

.icon {
  color: #000;
  display: grid;
  margin-left: 40px;
  margin-top: 70px;
  width: 150px;
  height: 22px;
  position: relative;
  border-radius: 7px;
  border: solid 6px currentColor;
  transform: rotate(-45deg);
  grid-column-start: 3;
  grid-row-start: 1;
}

.icon:before {
  content: "";
  left: -90px;
  top: -5px;
  width: 0px;
  height: 0px;
  position: relative;
  border-left: solid 40px transparent;
  border-right: solid 40px currentColor;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
}

.save {
  grid-column-start: 2;
  grid-row-start: 5;
  margin: 2% 5% 2% 80%;
}

.load {
  grid-column-start: 2;
  grid-row-start: 5;
  margin: 2% 25% 2% 60%;
}
