@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(48, 48, 48);
  background: linear-gradient(189deg, rgba(48, 48, 48, 1) 19%, rgba(87, 87, 99, 1) 80%);
}

.form {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 4;
  &__text {
    background-color: #39393c;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    margin: 10px 10px;
    justify-content: end;
    outline: none;
  }
  @media (max-width: 1000px) {
    max-width: 800px;
  }
  @media (max-width: 750px) {
    max-width: 550px;
  }
  @media (max-width: 580px) {
    max-width: 320px;
  }
}

.footer {
  align-content: center;
  color: rgb(0, 0, 0);
  display: flex;
  grid-column-start: 2;
  grid-row-start: 6;
  justify-content: center;
}

.header {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 44px;
  margin-left: 30px;
  &__space {
    margin-left: 50px;
  }
}

.icon {
  border-radius: 7px;
  border: solid 6px currentColor;
  color: #000;
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  height: 22px;
  margin-left: 40px;
  margin-top: 70px;
  transform: rotate(-45deg);
  width: 150px;
  @media (max-width: 580px) {
    display: none;
  }
}

.icon:before {
  content: "";
  border-left: solid 40px transparent;
  border-right: solid 40px currentColor;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  height: 0px;
  left: -90px;
  position: relative;
  top: -5px;
  width: 0px;
  @media (max-width: 580px) {
    display: none;
  }
}

.load {
  background: #575863;
  border: 2px solid black;
  border-radius: 5px;
  grid-column-start: 2;
  grid-row-start: 5;
  height: 38px;
  margin: 2% 25% 2% 60%;
  &:hover {
    background: #313131;
  }
  &:active {
    background: #313131;
    box-shadow: 0 0 12px 0 #666;
    transform: translateY(2px);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
}

.save {
  background: #575863;
  border: 2px solid;
  border-radius: 5px;
  grid-column-start: 2;
  grid-row-start: 5;
  height: 38px;
  margin: 2% 5% 2% 80%;
  &:hover {
    background: #313131;
  }
  &:active {
    background: #313131;
    box-shadow: 0 0 12px 0 #666;
    transform: translateY(2px);
  }
}
